.btn {
    display: inline-block;
    text-align: center;
    width: 100px;
    color: #ffffff;
    background: #08ed23;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
}